.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0 1px 3px -2px #000;
    margin-bottom: 1px;
    background:  white;
}
.nav-logo{
      width:200px
}
.nav-profile{
      width:75px;
}
.navbar button {
  margin-left: 20px;
  padding: 8px 18px;
  border-radius: 6px;
  background: #ff4141;
  color: #fff;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}
.navbar button:hover {
  background: #d32f2f;
}

